
img {
  border-radius: 10px;
}

.modal-image {
width: 300px;
padding: 0 auto;
}

.modalBody {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#dog-list {
  width: 250px;
  list-style-type: none;
  display: block;
  padding: 30px;
  margin: 90px auto;
}

.border-3 {
    border-width:3px !important;
}
